body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20231010/pngtree-3d-rendering-of-warehouse-inventory-stockpile-image_13575510.png');
    background-size: cover;
}

.login-container {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); 
}

.dashboard {
    width: auto;
    margin: auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
  }
  

/*.inventory-container {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); 
}*/

.inventory-container {
    width: 80%;
    max-width: 1200px; 
    padding: 20px;
    margin: auto; 
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); 
}


/* Additional styling for demonstration */
.toggle-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

.add-item-button {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

h2{
    text-align: left;
}


label {
    display: block;
    margin-top: 10px;
    text-align: left;
}

input {
    width: 100%;
    padding: 4px;
    margin-top: 5px;
    margin-bottom: 10px;
    
}

/*NAVBAR*/
header a {
    text-decoration: none;
  }
  
  header {
    width: 100%;
    top: 0;
    left: 0; /* Ensures the header starts from the left edge */
    z-index: 1000;
    position: fixed;
    display: flex;
    align-items: center;
    background: white; /* Set the background color to white */
    padding: 20px 50px; /* Adjust padding as necessary */
    transition: all .35s ease;
  }
  
  /* Ensure navlist takes up the space it needs */
  .navlist {
    list-style-type: none; /* Removes bullet points from list */
    margin: 0;
    text-decoration: none;
    padding: 0;
    display: flex;
    justify-content: center; /* Center the items horizontally */
    align-items: center;
  }
  
  /* Clearfix to clear the floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .logo {
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 1px;
      color: #333; /* Set the text color of the logo */
  }
  
  
  .navlist a {
      color: #333; /* Set the default text color of the navigation links */
      font-weight: 600;
      padding: 10px 25px;
      font-size: 16px;
      transition: color 0.36s ease; /* Updated transition property */
  }
  
  .navlist a:hover {
      color: #4592a0; /* Set the text color to green on hover */
  }
  
  /* .header-icons styles */
  .header-icons i {
      font-size: 32px;
      color: #333; /* Set the icon color */
      margin-right: 20px;
      transition: color 0.36s ease; /* Updated transition property */
  }
  
  .header-icons i:hover {
      color: #45a049; /* Set the icon color to green on hover */
  }

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px; /* Adjust the padding for better spacing */
    text-align: left;
}

th {
    background-color: #f2f2f2;
}