body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url('https://s3-ap-southeast-1.amazonaws.com/motoristprod/editors%2Fimages%2F1643078091681-how_to_choose_the_right_car_workshop_malaysia_featured.jpg');
    background-size: cover;
}

.dashboard {
  width: auto;
  margin: auto;
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
}

.login-container {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); 
}

.register-container {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); 
}

.payment-container {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8); 
}

.appointment-container {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  height: auto; /* Height set to auto */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}


.contact-container {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8); 
}

.info-container{
  width: 250px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8); 
}

.queue-container{
  width: 250px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8); 
}

.car-details-container{
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8); 
}

.dashboard-container {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8); 
}

#servinfo {
  text-align: center;
  margin: 20px auto;
  border-collapse: collapse;
  width: 69%;
  border: 2px solid #141414;
}

#servinfo th, #servinfo td {
  border: 1px solid #141414;
  padding: 10px;
}

#servinfo td {
  text-align: left;
}

#servinfo tr:nth-child(even) {
  background-color: #f2f2f2;
}


h2{
    text-align: left;
}


label {
    display: block;
    margin-top: 10px;
    text-align: left;
}

input {
    width: 100%;
    padding: 4px;
    margin-top: 5px;
    margin-bottom: 10px;
    
}

.reg-button{
  background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
}

button:hover {
    background-color: #45a049;
}

.dashboard-board{
    width: 500px;
    padding: 50px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);  
}

.appointment-details{
  width: auto;
  margin: auto;
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8); 
}


.car-details{
    width: 400px;
    padding: 10px;
    border: 1px solid #212121;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.8); 
}

.rev{
    width: 600px;
    padding: 10px;
    border: 1px solid #5fb6e1;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
}

.column{
    width: 150px;
    padding: 10px;
    border: 1px solid #5fb6e1;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
}

.clock-frame {
  width: 400px;
  padding: 10px;
  border: 1px solid #212121;
  border-radius: 5px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  margin: auto; /* Add this line to center the clock horizontally */
  margin-top: 10px; /* Adjust the top margin to provide space between the car details and the clock */
}

.clock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactform{
  width: 500px;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  background-color: rgba(90, 94, 94, 0.8)
}

.mechanic-name {
  color: #3498db;
  font-weight: bold;
}


/*NAVBAR*/
header a {
  text-decoration: none;
}

header {
  width: 100%;
  top: 0;
  left: 0; /* Ensures the header starts from the left edge */
  z-index: 1000;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between; /* This will space out the logo and navlist */
  background: white; /* Set the background color to white */
  padding: 20px 50px; /* Adjust padding as necessary */
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Optional: adds shadow for depth */
  transition: all .35s ease;
}

/* Ensure navlist takes up the space it needs */
.navlist {
  list-style-type: none; /* Removes bullet points from list */
  margin: 0;
  text-decoration: none;
  padding: 0;
  display: flex;
}

  /* Clearfix to clear the floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.logo {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #333; /* Set the text color of the logo */
}


.navlist a {
    color: #333; /* Set the default text color of the navigation links */
    font-weight: 600;
    padding: 10px 25px;
    font-size: 16px;
    transition: color 0.36s ease; /* Updated transition property */
}

.navlist a:hover {
    color: #4592a0; /* Set the text color to green on hover */
}

/* .header-icons styles */
.header-icons i {
    font-size: 32px;
    color: #333; /* Set the icon color */
    margin-right: 20px;
    transition: color 0.36s ease; /* Updated transition property */
}

.header-icons i:hover {
    color: #45a049; /* Set the icon color to green on hover */
}

.btn-primary a{
  text-decoration: none;
}
/* calendar style */

  